
* {
    box-sizing: border-box;
  }
  
  .box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: red;
    color: white;
  }  
  
  #stat {
    position: static;
    top: 20px;
    left: 20px;
    background-image: url('pic.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #fix {
    position: fixed;
    top: 200px;
    left: 100px;
    background-image: url('pic.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #rel {
    position: relative;
    top: 50px;
    left: 50px;
    background-image: url('pic.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  #abs {
    position: absolute;
    top: 150px;
    left: 200px;
    background-image: url('pic.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #sticky {
    position: sticky;
    top: 0px;
    left: 550px;
    background-image: url('pic.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }


  .sticky1 {
    position: sticky;
    top: 0px;
    left: 20px;
  }

  .fix1 {
    position: fixed;
    top: 60px;
    left: 1px;
  }
  